<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary"> New Appointment
        <a href="/appointments/new">
          <button type="button" class="btn btn-success" style="margin-left:15px ;"><i class="fas fa-user-plus"></i></button>
        </a>
      </h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table id="myTable" class="table table-bordered table-striped table-hover" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>ID</th>
              <th>Starts At</th>
              <th>Ends At</th>
              <th>Patient</th>
              <th>Doctor</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @appointments.each do |appointment| %>
              <tr>
                <td> <%= appointment.id %> </td>
                <td> <%= appointment.starts_at %> </td>
                <td> <%= appointment.ends_at %> </td>
                <td> <%= appointment.patient.name %> </td>
                <td> <%= appointment.doctor.name %> </td>
                <td>
                  <%= link_to edit_appointment_path(appointment),
                      class: "btn btn-primary btn-xs btn-green-alt" do %>
                      <i class="fas fa-edit"></i>
                      Edit
                  <% end %>
                  <%= link_to appointment_path(appointment), data: {confirm: "Are you sure!"}, :method => :delete,
                      class: "btn btn-danger btn-xs btn-red-alt" do %>
                      <i class="fas fa-trash-alt"></i>
                      Delete
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
